<html>

<title>Umich Snakes</title>

<head>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<!-- HTML -->
<body>
  <div id="app">
    <div class='splash'>
      <nav>
        <h1 style="font-size: 80px"> Winter A&sup2 Snake </h1>
        <div id="intro">
          <p> Welcome! </p>
          <p> Choose a Game Mode: </p>
        
        <ul class = 'nav'>
          <li> <button id="b1" type="button" @click="setLevel('easy'); openIntroRules();" class='btn btn-lg' style="margin:10px;">Easy</button>
          </li>
          <li> <button id="b2" type="button" @click="setLevel('medium'); openIntroRules();" class='btn btn-lg' style="margin:10px;">Medium</button>
          </li>
          <li> <button id="b3" type="button" @click="setLevel('hard'); openIntroRules();" class='btn btn-lg' style="margin:10px;">Hard</button>
          </li>
        </ul>
        </div>
        <div class="scoreboard">
          <p>Score: {{total_points}}</p>
        </div>
        <div v-if="showWindow()" id= "gameWindow"> 
        <div class="grid">
          <div v-for="item in gridItems">
            <div v-bind:key="item.id" class="grid-item">
              <div v-if="item.data.isHead">
                <img class="main_char" v-bind:src='imageString'/>
              </div>
              <div v-if="item.data.isTail">
                <img class="main_char" v-bind:src='imageString' />
              </div>
              <div v-if="item.data.isFood">
                <img class="character" src="img/reindeer.png"/>
              </div>
              <div v-if="item.data.isM">
                <img src="img/blockM.png" class="character"/>
              </div>
              <div v-if="item.data.isPowerUp && powerups.curr === 1">
                <img src="img/ricks.png" class="character"/>
              </div>
              <div v-if="item.data.isPowerUp && powerups.curr === 2">
                <img src="img/blankslate.png" class="character"/>
              </div>
              <div v-if="item.data.isPowerUp && powerups.curr === 3">
                <img src="img/zingermans.png" class="character"/>
              </div>
              <div v-if="item.data.isPowerUp && powerups.curr === 4">
                <img src="img/football.png" class="character"/>
              </div>
              <div v-if="item.data.isPowerUp && powerups.curr === 5">
                <img src="img/construction.png" class="character"/>
              </div>
              <div v-if="item.data.isPothole0 && powerups.curr === 5 && powerups.construction.isPothole[0]">
                <img src="img/pothole.png" class="character"/>
              </div>
              <div v-if="item.data.isPothole1 && powerups.curr === 5 && powerups.construction.isPothole[1]">
                <img src="img/pothole.png" class="character"/>
              </div>
              <div v-if="item.data.isPothole2 && powerups.curr === 5 && powerups.construction.isPothole[2]">
                <img src="img/pothole.png" class="character"/>
              </div>
              <div v-if="item.data.isPothole3 && powerups.curr === 5 && powerups.construction.isPothole[3]">
                <img src="img/pothole.png" class="character"/>
              </div>
              <div v-if="item.data.isPothole4 && powerups.curr === 5 && powerups.construction.isPothole[4]">
                <img src="img/pothole.png" class="character"/>
              </div>
              <!-- <p>{{item.id}}</p> -->
            </div>
            
          </div>      

      </div>
    </nav>
    <div class = 'bottomLeft'> by Umich Snakes </div>
    <input class = 'settingsButton' type="image" src="img/settings.png" @click="openSettings()" />
    <input class = 'rulesButton' type="image" src="img/rules.png" @click="openRules()" />
  </div>
  


  <div id="settingsPage" class ="overlay">
    <div class = "overlay-content">
      <a class="closebtn" @click="closeSettings()">&times;</a>
      <h1 style="text-decoration: underline; font-size: 60px; color: white"> SETTINGS </h1>
      <p >Game Mode (Level):</p>
      <ul class = 'nav'>
        <li> <button class = 'btn btn-lg' @click="closeSettings(); setLevel('easy'); beginGame();" style="margin:10px;">Easy</button>
        </li>
        <li> <button class = 'btn btn-lg' @click="closeSettings(); setLevel('medium'); beginGame();" style="margin:10px;">Medium</button>
        </li>
        <li> <button class = 'btn btn-lg' @click="closeSettings(); setLevel('hard'); beginGame();" style="margin:10px;">Hard</button>
        </li>
      </ul>
      <p >Character:</p>
      <ul class = 'nav'>
        <li> <input class = 'characters' @click="closeSettings(); changeChar('santa')" type="image" src="img/santa.png"/>
        </li>
        <li> <input class = 'characters' @click="closeSettings(); changeChar('elf')" type="image" src="img/elf.png"/>
        </li>
        <li> <input class = 'characters' @click="closeSettings(); changeChar('gingerbread')" type="image" src="img/gingerbread.png"/>
        </ul>

      </div>
    </div>


    <div id="rulesPage" class ="overlay">
      <div class = "overlay-content">
        <a class="closebtn" @click="closeRules()">&times;</a>
        <h1 style="text-decoration: underline; font-size: 60px; color: white"> How to Play </h1>
        <ol class= 'rules'>
          <li> <p><img src="img/arrowKey.png" class = 'characters'> Use the Arrow Keys to Move<p>
          </li>
          <li> <p><img src="img/reindeer.png" class = 'characters'> Collect Reindeer to Grow </p>
          </li>
          <li> <p><img src="img/student.png" class = 'characters'> Don't run into any Walls or Students </p>
          </li>
          <li> <p><img src="img/blockM.png" class = 'characters'> Don't step on the M </p>
          </li>
          <li> <p> <b>Tips:</b> There are Power Ups & Power Downs: </p>
            <div>
              <img src="img/ricks.png" class='characters' @mouseover="powerups.ricks.displayDesc = true" @mouseout="powerups.ricks.displayDesc = false">
              <img src="img/football.png" class='characters' @mouseover="powerups.football.displayDesc = true" @mouseout="powerups.football.displayDesc = false">
              <img src="img/zingermans.png" class='characters' @mouseover="powerups.zingermans.displayDesc = true" @mouseout="powerups.zingermans.displayDesc = false">
              <img src="img/construction.png" class='characters'@mouseover="powerups.construction.displayDesc = true" @mouseout="powerups.construction.displayDesc = false">
              <img src="img/blankslate.png" class='characters' @mouseover="powerups.blankslate.displayDesc = true" @mouseout="powerups.blankslate.displayDesc = false">
              <div class="popup" v-show="powerups.ricks.displayDesc">
                <div class="popuptext"><b>Thursday at Rick's: </b>You waited in line for an hour and drank too much... Now everything is slow and backwards!</div>
              </div>
              <div class="popup" v-show="powerups.football.displayDesc">
                <div class="popuptext"><b>UM beats OSU: </b>Catch the football to celebrate victory with double points!</div>
              </div>
              <div class="popup" v-show="powerups.zingermans.displayDesc">
                <div class="popuptext"><b>Zingerman's #2: </b>Enjoy the classic AA sandwich. You feel invincible but a little hyper!</div>
              </div>
              <div class="popup" v-show="powerups.construction.displayDesc">
                <div class="popuptext"><b>AA Construction: </b>Avoid the cones or else you'll have to slow down and deal with the AA potholes!</div>
              </div>
              <div class="popup" v-show="powerups.blankslate.displayDesc">
                <div class="popuptext"><b>Blank Slate Triple Scoop: </b>SUGAR RUSH!!! Too much icecream leads to zoomies and extra points!</div>
              </div>
            </div>
          </li>

        </ol>

      </div>
    </div>

    <div id="introRulesPage" class ="overlay">
      <div class = "overlay-content">
        <a class="closebtn" @click="closeIntroRules(); beginGame();">Start Game</a>
        <h1 style="text-decoration: underline; font-size: 60px; color: white"> How to Play </h1>
        <ol class= 'rules'>
          <li> <p><img src="img/arrowKey.png" class = 'characters'> Use the Arrow Keys to Move<p>
          </li>
          <li> <p><img src="img/reindeer.png" class = 'characters'> Collect Reindeer to Grow </p>
          </li>
          <li> <p><img src="img/student.png" class = 'characters'> Don't run into any Walls or Students </p>
          </li>
          <li> <p><img src="img/blockM.png" class = 'characters'> Don't step on the M </p>
          </li>
          <li> <p> <b>Tips:</b> There are Power Ups & Power Downs: </p>
            <div>
              <img src="img/ricks.png" class='characters' @mouseover="powerups.ricks.displayDesc = true" @mouseout="powerups.ricks.displayDesc = false">
              <img src="img/football.png" class='characters' @mouseover="powerups.football.displayDesc = true" @mouseout="powerups.football.displayDesc = false">
              <img src="img/zingermans.png" class='characters' @mouseover="powerups.zingermans.displayDesc = true" @mouseout="powerups.zingermans.displayDesc = false">
              <img src="img/construction.png" class='characters'@mouseover="powerups.construction.displayDesc = true" @mouseout="powerups.construction.displayDesc = false">
              <img src="img/blankslate.png" class='characters' @mouseover="powerups.blankslate.displayDesc = true" @mouseout="powerups.blankslate.displayDesc = false">
              <div class="popup" v-show="powerups.ricks.displayDesc">
                <div class="popuptext"><b>Thursday at Rick's: </b>You waited in line for an hour and drank too much... Now it's hard to walk properly!</div>
              </div>
              <div class="popup" v-show="powerups.football.displayDesc">
                <div class="popuptext"><b>UM beats OSU: </b>Catch the football to celebrate victory with double points! OR ELSE avoid extra sad students everywhere!</div>
              </div>
              <div class="popup" v-show="powerups.zingermans.displayDesc">
                <div class="popuptext"><b>Zingerman's #2: </b>Enjoy the classic AA sandwich. You feel invincible but a little hyper!</div>
              </div>
              <div class="popup" v-show="powerups.construction.displayDesc">
                <div class="popuptext"><b>AA Construction: </b>Avoid the cones or else you'll have to slow down and deal with the AA potholes!</div>
              </div>
              <div class="popup" v-show="powerups.blankslate.displayDesc">
                <div class="popuptext"><b>Blank Slate Triple Scoop: </b>SUGAR RUSH!!! Too much icecream leads to zoomies and extra points!</div>
              </div>
            </div>
          </li>

        </ol>

      </div>
    </div>

</div>

<audio controls id="music">
  <source src="img/hail_to_the_victors.mp3" type="audio/mpeg">
</audio>

<script src="script.js"></script>
</body>
</html>